
body {
 font-family: 'Questrial', sans-serif;
 width: 100%;
 padding: 0 5px;

}

nav li {
 list-style: none;
 display: block;

}















/*--------Media Queries------*/

@media (min-width: 769px ){









}


@media query {

}
