/*=====selectors*/
* {
 box-sizing: border-box;
}


h1 {
margin-top: 4px;
font-size: 1.6em;

}

body {
  font-family: 'Roboto', sans-serif;
 width: 100%;
 background-color: #F2F2F2;
 text-align: center;
 /*margin:;removed;trying to give footer full width*/
 /*==padding:; removed due to padding for whole layout*/
margin: 0 auto;
}

span {
  font-weight: 900;
}

 main {
 padding: 20px;
 background-color: white;

 }


div.container {
padding-bottom: 5px;

}


li {
  padding: 8px;
  background-color: white;
  border: 2px solid #F2F2F2;
  text-transform: uppercase;
  margin: 2px 0;
  font-weight: bold;


}

ul {
padding: 0; /* centers nav bar*/
list-style: none;

}

.pic {
width: 200px;

}

footer {
 text-align: center;
 background-color: #f2f2f2;
 padding: 10px;
 width: 100%;
 min-height: 450px;

}

img {
max-width: 100%;
padding: 2px;
}

p {
 padding: 10px;
 line-height: 1.5em;
 font-size: 1.0em;
   margin: 20px 0;

}

h2{
  font-size: 1.2em;
   padding: 4px;

}

h3 {
  font-size: 1em;
  margin-bottom: 40px;
  margin-top: 20px;
  padding-top: 50px;
 }
/*=====classes===*/
.portfolio {
padding: 10px;
margin-bottom: 70px;
}
/*background-color: pink;*/


.paragraph1 {
  font-size: 1.0em;


}


.bottom {
 width: 100%;
 margin-left: 0;
 margin-right: 0;
 padding-left: 0 ;
 padding-right: 0;

}

div.footer p {
  margin-top: 5px;
  line-height: 1.2em;
  font-size: 0.8em;

}

div.contact p {

margin-top: 5px;
margin-bottom: 30px;
padding: 5px;

}

div.nametop p {
 font-weight: bold;
 width: 100%;
 margin: 0;
 font-size: 0.9em;


}

div.border {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid lightgray;

}

.flexfooter{
  display: flex;
  padding: 10px;
}

.flexfooter p {
padding: 10px 0;
margin: auto;
font-weight: bolder;
}

.bottom-nav {
display: none;

}




/*======Layouts======*/
.container {
 width: 100%;
 display: block;
 margin-bottom: 10px;
  padding: 20px;
}




/*=====tools======*/
.group:after {
  content: "";
  display: table;
  clear: both;
}





/*---Pseudo classes----*/

a:link {
  font-weight: bolder;
  text-decoration: none;
  color: black;


}

a:visited {

}

a:hover {
  background-color: black;
  color: white;


}

a:active {


}






/*--------Media Queries------*/

@media (min-width: 768px) {

  .group:after {
    content: "";
    display: table;
    clear: both;
  }
  main {
    width: 100%;
    padding: 0;
  }



 div.pages p {
  line-height: 1.3em;
  margin: 0 auto;
  padding: 5px 0px 20px 0px;
  font-size: .75em;
   width: 200px;
 }

h1#top {
padding: 10px;

}

h2 {
  padding: 0;
  margin-top: 10px;
}
h3.portfolio {
  padding: 50px;

}

div.container {
margin-bottom: 50px;

}


ul.nav {
padding: 5px;
margin-bottom: 40px;

}

ul.nav li{
  display: inline;
  background-color: inherit;
  margin-left: 20px;
}

div.container.group {
 margin-top: 10px;
 margin-bottom: 50px;
 height: 350px;

}

.flex{
display: flex;
flex-direction: row-reverse;
flex-grow: 1;

}
div.pages {
max-width: 100%;
flex-grow: 1;
margin: 0 18.6px;

}


.paragraph1 p{
text-align: left;
margin-right: 5px;
margin-top: 0;
font-size: 1.2em;

}

.pic {
  width: 300px;
  height: 200px;
}
/*====end of header====*/

h3{
  font-size: 1.1em;


}
img {
  width: 300px;
  height: 170px;
 max-width: 100%;
 margin: 0 2px;
}




 div.sidebyside{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}


span{
  font-weight: bold;
}
div.pages p {
  font-size: .9em;
  margin-bottom: 10px;
}




 /*====end of main====*/

footer {
min-height: 400px;

}

 .footerp {
   font-size: 1.2em;
   text-align: center;
   margin: 0 100px;

 }

div.contact p {
margin-bottom: 20px;

}

.flexfooter{
  display: none;

}
.bottom-nav {
display: inline;

}
 li {
 background-color: inherit;
 padding: 0;
 margin: 0;
 border: none;
 display: inline;

 }


.floatp {
 float: left;
}

.floatul {
float: right;
padding: 10px;


}
.floatul li {
padding-right: 20px;

}



}


@media (min-width: 1024px) {

body {
 margin: auto;

}
main {
  padding-bottom: 50px;
  max-width: 1024px;
  margin: auto;
}

 h1 {
   width: 30%;
   margin: 0;
   float: left;
}

h2 {
 margin-top: 10px;
}

nav {
  display: inline-block;
  margin-left: 200px;


}

 ul.nav {
 padding: 0;
 margin-left: 50px;


 }


li {
flex-direction: row-reverse;

}



.pic {
  margin-top: 50px;
  margin-right: 70px;
  width: 400px;



}
.paragraph1 {
  margin-top: 50px;
  margin-left: 50px;

}

img {
 width: 300px;
 height: 200px;
}

div.pages p {
  font-size: .9em;
  padding-top: 5px;
  margin-top: 10px;

}

}
